@import url(https://fonts.google.com/share?selection.family=Cinzel:wght@400..900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(1, 1, 30, 0.7),rgba(1, 1, 30, 0.7)),url(https://live.staticflickr.com/65535/52696833388_3701245586_b.jpg);
    background-size: cover;
    position: relative;
    border: 5px solid #1a0c01;
    font-family: 'Cinzel';
    color: white;
}


.header{
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;
    background: transparent;
}

.header > .title{
    margin-bottom: 1rem;
    background: transparent;
    font-size: 2.6rem;
}

.header > .description{
    font-size: 1.4rem;
}

.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background: transparent;
    color: white;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}

.tribute blockquote{
    text-align: center;
    font-size: 2rem;
}

.tribute img{
    max-width: 400px;
    border-radius: 60px;
    float: right;
    padding-right: 15px;
}

.bio{
    margin: 4rem;
    max-width: 95rem;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 60px;
}

.bio > h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
}

.bio > p{
    font-size: 1.2rem;
    line-height: 1.4;
    font-family: 'Times New Roman', Times, serif;
}

.bio > hr{
    margin-top: 2rem;
}

.container{
    width: 100%;
    background: black;
    height: 100vh;
    align-items: center;
}
.container .title{

    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
    color: rgb(203, 94, 5);
    padding-top: 20px;
}

.container .img-slider{
    position: relative;
    width: 1300px;
    height: 80vh;
    margin: 0;
    background: black;
}

.container .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 1300px;
}

.container .img-slider .slide img{
    z-index: 1;
    width: 1300px;
    border-radius: 5px;
    height: 80vh;
    align-items: center;
    padding-left: 160px;
    padding-top: 30px;
}

.container .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
    color: white;
}

.container .img-slider .slide h2{
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.container .img-slider .slide p{
    color: white;
    background: rgba(0, 0,0,0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

